In [2]:
from geopy.geocoders import Nominatim
import pandas as pd
geolocator = Nominatim(user_agent="ukge-constituency-locations")

In [16]:
def get_lat_long(address):
    print(address)
    location = geolocator.geocode(address +", United Kingdom")
    if location is None:
        print("N")
        location = geolocator.geocode(address)
    if location is None:
        print("NN")
        location = geolocator.geocode(address.split(" ")[0] + ", United Kingdom")
    print(location.address)
    print(location.latitude, location.longitude)
    return location.latitude, location.longitude

In [ ]:
# lat_dict = {}
# long_dict = {}
# for c in cons:
#     lat, long = get_lat_long(c)
#     lat_dict[c] = lat
#     long_dict[c] = long


# df["Latitude"] = df["New constituency name"].apply(lambda x: lat_dict[x])
# df["Longitude"] = df["New constituency name"].apply(lambda x: long_dict[x])
#Takes 8 min

In [36]:
df = pd.read_csv("outputs/resultsclusteredconstituencieslocations.csv")
# "UKGE/outputs/resultsclusteredconstituencieslocations.csv"

In [37]:
df["Latitude"].median()

52.340217100000004

In [38]:
df[df["Latitude"]>59]
df[df["Latitude"]<50]

Empty DataFrame
Columns: [Unnamed: 0, ONS code, New constituency name, Total population, Aged 15 years and under, Aged 16 to 24 years, Aged 25 to 34 years, Aged 35 to 49 years, Aged 50 to 64 years, Aged 65 years and over, Cluster, 2019_Results, 2017_Results, 2015_Results, 2010_Results, 2005_Results, Ref16_Results, Low_Confidence_Imputation, 2019_Resultscon, 2019_Resultslab, 2019_Resultslib, 2019_Resultsref, 2019_Resultsnat, 2019_Resultsoth, 2019_Resultstot, 2019_Resultscon_pc, 2019_Resultslab_pc, 2019_Resultslib_pc, 2019_Resultsref_pc, 2019_Resultsnat_pc, 2019_Resultsoth_pc, 2017_Resultscon, 2017_Resultslab, 2017_Resultslib, 2017_Resultsref, 2017_Resultsnat, 2017_Resultsoth, 2017_Resultstot, 2017_Resultscon_pc, 2017_Resultslab_pc, 2017_Resultslib_pc, 2017_Resultsref_pc, 2017_Resultsnat_pc, 2017_Resultsoth_pc, 2015_Resultscon, 2015_Resultslab, 2015_Resultslib, 2015_Resultsref, 2015_Resultsnat, 2015_Resultsoth, 2015_Resultstot, 2015_Resultscon_pc, 2015_Resultslab_pc, 2015_Resultslib_pc, 2015_Resultsref_pc, 2015_Resultsnat_pc, 2015_Resultsoth_pc, 2010_Resultscon, 2010_Resultslab, 2010_Resultslib, 2010_Resultsref, 2010_Resultsnat, 2010_Resultsoth, 2010_Resultstot, 2010_Resultscon_pc, 2010_Resultslab_pc, 2010_Resultslib_pc, 2010_Resultsref_pc, 2010_Resultsnat_pc, 2010_Resultsoth_pc, 2005_Resultscon, 2005_Resultslab, 2005_Resultslib, 2005_Resultsref, 2005_Resultsnat, 2005_Resultsoth, 2005_Resultstot, 2005_Resultscon_pc, 2005_Resultslab_pc, 2005_Resultslib_pc, 2005_Resultsref_pc, 2005_Resultsnat_pc, 2005_Resultsoth_pc, EngReg, Scot, Region, Cluster Des, Latitude, Longitude]
Index: []

[0 rows x 89 columns]

In [40]:
df[df["Longitude"]>5]
df[df["Longitude"]<-5]

,Unnamed: 0,ONS code,New constituency name,Total population,Aged 15 years and under,Aged 16 to 24 years,Aged 25 to 34 years,Aged 35 to 49 years,Aged 50 to 64 years,Aged 65 years and over,...,2005_Resultslib_pc,2005_Resultsref_pc,2005_Resultsnat_pc,2005_Resultsoth_pc,EngReg,Scot,Region,Cluster Des,Latitude,Longitude
4,4,W07000082,Alyn and Deeside,102072,0.181960,0.089956,0.130467,0.191326,0.208382,0.197909,...,0.174920,0,0.044298,0.044434,0,False,Wales,Brexit,57.274096,-5.515916
93,93,E14001148,Camborne and Redruth,99095,0.176689,0.092618,0.114617,0.179575,0.206943,0.229557,...,0.376771,0,0.000000,0.081955,South West,False,South West,Marginal,50.214674,-5.330508
475,475,E14001511,St Ives,88509,0.154116,0.077764,0.094090,0.162353,0.230898,0.280779,...,0.497245,0,0.000000,0.085032,South West,False,South West,Conservative,50.214906,-5.479508
520,520,E14001554,Truro and Falmouth,94888,0.153033,0.132114,0.113323,0.169221,0.195610,0.236700,...,0.440172,0,0.000000,0.062336,South West,False,South West,Marginal,50.263317,-5.051811
582,582,S14000067,"Argyll, Bute and South Lochaber",92300,0.144356,0.094268,0.095883,0.161023,0.241268,0.263202,...,0.378677,0,0.151740,0.023226,0,True,Scotland,Nat-Conservative,56.460349,-5.861842
621,621,S14000027,Na h-Eileanan an Iar,26600,0.152402,0.078341,0.093506,0.171434,0.238851,0.265465,...,0.079214,0,0.449046,0.082755,0,True,Scotland,Nat-Conservative,57.666667,-7.166667

In [35]:
get_lat_long("52 Portreath Dr, Derby DE22 2RZ")

52 Portreath Dr, Derby DE22 2RZ
Portreath Drive, Abbey Park, Allestree, Derby, England, DE22 2RR, United Kingdom
52.9497463 -1.4906424

(52.9497463, -1.4906424)