In [1]:
import pandas as pd
import numpy as np
from polls import *
from UKGE import *
import ast

In [2]:
df = pd.read_csv("outputs/constituencieswithresults.csv")

In [3]:
df

,ONS code,New constituency name,Total population,Number of households,Aged 15 years and under,Aged 16 to 24 years,Aged 25 to 34 years,Aged 35 to 49 years,Aged 50 to 64 years,Aged 65 years and over,...,Social rented,Other tenure,Cluster,2019_Results,2017_Results,2015_Results,2010_Results,2005_Results,Ref16_Results,Low_Confidence_Imputation
0,W07000081,Aberafan Maesteg,92573.0,40810.0,0.186065,0.095598,0.124386,0.179638,0.208793,0.205520,...,0.198750,0.003382,6,"{'con': 11159, 'lab': 21644, 'lib': 1685, 'ref...","{'con': 10352, 'lab': 28653, 'lib': 813, 'ref'...","{'con': 6789, 'lab': 20210, 'lib': 1721, 'ref'...","{'con': 7087, 'lab': 20637, 'lib': 7054, 'ref'...","{'con': 5233, 'lab': 22663, 'lib': 5977, 'ref'...",0.582142,0
1,E14001063,Aldershot,117430.0,46173.0,0.185379,0.099821,0.158247,0.207732,0.187737,0.161083,...,0.150694,0.018149,1,"{'con': 30031, 'lab': 11617, 'lib': 7796, 'ref...","{'con': 29150, 'lab': 16057, 'lib': 4043, 'ref...","{'con': 25437, 'lab': 8775, 'lib': 4405, 'ref'...","{'con': 23068, 'lab': 5789, 'lib': 16400, 'ref...","{'con': 19092, 'lab': 9353, 'lib': 12200, 'ref...",0.572829,0
2,E14001064,Aldridge-Brownhills,93607.0,39205.0,0.177914,0.089929,0.114617,0.177711,0.212078,0.227750,...,0.134167,0.006606,6,"{'con': 30468, 'lab': 11152, 'lib': 2611, 'ref...","{'con': 28782, 'lab': 15812, 'lib': 1431, 'ref...","{'con': 22623, 'lab': 11803, 'lib': 1431, 'ref...","{'con': 25086, 'lab': 10084, 'lib': 7717, 'ref...","{'con': 19480, 'lab': 15012, 'lib': 5207, 'ref...",0.667464,0
3,E14001065,Altrincham and Sale West,100924.0,40763.0,0.212833,0.082260,0.100719,0.219046,0.194859,0.190282,...,0.113755,0.006354,1,"{'con': 26311, 'lab': 20172, 'lib': 6036, 'ref...","{'con': 26933, 'lab': 20507, 'lib': 4051, 'ref...","{'con': 26771, 'lab': 13481, 'lib': 4235, 'ref...","{'con': 24176, 'lab': 11073, 'lib': 12581, 're...","{'con': 20333, 'lab': 12716, 'lib': 9578, 'ref...",0.385878,0
4,W07000082,Alyn and Deeside,102072.0,43775.0,0.181960,0.089956,0.130467,0.191326,0.208382,0.197909,...,0.150588,0.004934,6,"{'con': 22259, 'lab': 22255, 'lib': 3136, 'ref...","{'con': 22175, 'lab': 28473, 'lib': 1335, 'ref...","{'con': 16270, 'lab': 20348, 'lib': 2079, 'ref...","{'con': 16097, 'lab': 19586, 'lib': 8749, 'ref...","{'con': 11184, 'lab': 21230, 'lib': 7700, 'ref...",0.574214,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,S14000103,Perth and Kinross-shire,102000.0,NaN,0.164256,0.092739,0.113755,0.181623,0.218503,0.229124,...,NaN,NaN,6,"{'con': 20799, 'lab': 3407, 'lib': 3568, 'ref'...","{'con': 22065, 'lab': 7417, 'lib': 2274, 'ref'...","{'con': 15601, 'lab': 8933, 'lib': 1844, 'ref'...","{'con': 13106, 'lab': 12135, 'lib': 5885, 'ref...","{'con': 12491, 'lab': 10877, 'lib': 6967, 'ref...",0.397439,1
628,S14000104,Rutherglen,90300.0,NaN,0.177859,0.091283,0.121138,0.200151,0.214436,0.195134,...,NaN,NaN,6,"{'con': 8124, 'lab': 14873, 'lib': 2429, 'ref'...","{'con': 9372, 'lab': 15994, 'lib': 1725, 'ref'...","{'con': 4328, 'lab': 16971, 'lib': 918, 'ref':...","{'con': 4225, 'lab': 23812, 'lib': 4786, 'ref'...","{'con': 3371, 'lab': 20117, 'lib': 6843, 'ref'...",0.373329,1
629,S14000105,Stirling and Strathallan,103000.0,NaN,0.160007,0.119000,0.125081,0.174560,0.216834,0.204518,...,NaN,NaN,6,"{'con': 19690, 'lab': 4729, 'lib': 3160, 'ref'...","{'con': 20348, 'lab': 11895, 'lib': 1842, 'ref...","{'con': 13148, 'lab': 14809, 'lib': 1527, 'ref...","{'con': 12201, 'lab': 21309, 'lib': 7323, 'ref...","{'con': 11879, 'lab': 17070, 'lib': 9621, 'ref...",0.329703,0
630,S14000058,West Aberdeenshire and Kincardine,97800.0,NaN,0.188758,0.085324,0.095580,0.206090,0.223372,0.200875,...,NaN,NaN,6,"{'con': 22752, 'lab': 2431, 'lib': 6253, 'ref'...","{'con': 24704, 'lab': 5706, 'lib': 4461, 'ref'...","{'con': 15916, 'lab': 2487, 'lib': 11812, 'ref...","{'con': 13678, 'lab': 6159, 'lib': 17362, 'ref...","{'con': 11814, 'lab': 5470, 'lib': 19285, 'ref...",0.391688,0
631,S14000106,West Dunbartonshire,91300.0,NaN,0.173598,0.096575,0.127518,0.177969,0.228277,0.196063,...,NaN,NaN,6,"{'con': 6681, 'lab': 13305, 'lib': 2000, 'ref'...","{'con': 7867, 'lab': 17171, 'lib': 1065, 'ref'...","{'con': 3747, 'lab': 16580, 'lib': 864, 'ref':...","{'con': 3386, 'lab': 26690, 'lib': 3663, 'ref'...","{'con': 2812, 'lab': 22283, 'lib': 6270, 'ref'...",0.377554,0

In [4]:
for c in ["2019_Results","2017_Results","2015_Results","2010_Results","2005_Results"]:
    for p in std_parties:
        df[c+p] = df[c].map(lambda x: ast.literal_eval(x)[p])
    df[c+"tot"] = df[[c+p for p in std_parties]].sum(axis=1)
    for p in std_parties:
        df[c+p+"_pc"] = df.apply(lambda x: ast.literal_eval(x[c])[p]/x[c+"tot"], axis=1)
df

,ONS code,New constituency name,Total population,Number of households,Aged 15 years and under,Aged 16 to 24 years,Aged 25 to 34 years,Aged 35 to 49 years,Aged 50 to 64 years,Aged 65 years and over,...,2005_Resultsref,2005_Resultsnat,2005_Resultsoth,2005_Resultstot,2005_Resultscon_pc,2005_Resultslab_pc,2005_Resultslib_pc,2005_Resultsref_pc,2005_Resultsnat_pc,2005_Resultsoth_pc
0,W07000081,Aberafan Maesteg,92573.0,40810.0,0.186065,0.095598,0.124386,0.179638,0.208793,0.205520,...,0,4247,1260,39380,0.132885,0.575495,0.151778,0.0,0.107847,0.031996
1,E14001063,Aldershot,117430.0,46173.0,0.185379,0.099821,0.158247,0.207732,0.187737,0.161083,...,0,0,2416,43061,0.443371,0.217204,0.283319,0.0,0.000000,0.056106
2,E14001064,Aldridge-Brownhills,93607.0,39205.0,0.177914,0.089929,0.114617,0.177711,0.212078,0.227750,...,0,0,3221,42920,0.453868,0.349767,0.121319,0.0,0.000000,0.075047
3,E14001065,Altrincham and Sale West,100924.0,40763.0,0.212833,0.082260,0.100719,0.219046,0.194859,0.190282,...,0,0,737,43364,0.468891,0.293239,0.220874,0.0,0.000000,0.016996
4,W07000082,Alyn and Deeside,102072.0,43775.0,0.181960,0.089956,0.130467,0.191326,0.208382,0.197909,...,0,1950,1956,44020,0.254066,0.482281,0.174920,0.0,0.044298,0.044434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,S14000103,Perth and Kinross-shire,102000.0,NaN,0.164256,0.092739,0.113755,0.181623,0.218503,0.229124,...,0,14919,1014,46268,0.269971,0.235087,0.150579,0.0,0.322447,0.021916
628,S14000104,Rutherglen,90300.0,NaN,0.177859,0.091283,0.121138,0.200151,0.214436,0.195134,...,0,5402,1452,37185,0.090655,0.540998,0.184026,0.0,0.145274,0.039048
629,S14000105,Stirling and Strathallan,103000.0,NaN,0.160007,0.119000,0.125081,0.174560,0.216834,0.204518,...,0,6781,2614,47965,0.247660,0.355884,0.200584,0.0,0.141374,0.054498
630,S14000058,West Aberdeenshire and Kincardine,97800.0,NaN,0.188758,0.085324,0.095580,0.206090,0.223372,0.200875,...,0,4700,379,41648,0.283663,0.131339,0.463047,0.0,0.112851,0.009100
631,S14000106,West Dunbartonshire,91300.0,NaN,0.173598,0.096575,0.127518,0.177969,0.228277,0.196063,...,0,9237,2375,42977,0.065430,0.518487,0.145892,0.0,0.214929,0.055262

In [5]:
regdf = pd.read_excel("data/England-Parliamentary-electorates-for-2023.xlsx", sheet_name="CONSTITUENCIES", skiprows=0, skipfooter=57)
regdf = regdf.drop([0,1])
regdf["Constituency"] = regdf.apply(lambda x:x["CURRENT CONSTITUENCY ELECTORATE TABLE"].replace(" BC","").replace(" CC",""),axis=1)
regdf = regdf.loc[:,["Constituency","Region"]]
df["EngReg"] = df["New constituency name"].apply(lambda x: regdf[regdf["Constituency"]==x]["Region"].iloc[0] if x in list(regdf["Constituency"]) else 0)
df["Scot"] = df[df.columns[15]].isna()
df["Region"] = df.apply(lambda x:"Scotland" if x["Scot"] is True else "Wales" if x["EngReg"]==0 else x["EngReg"],axis=1)

In [6]:
df.to_csv("outputs/constituencieswithresultsprocessed.csv", index=False)